<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rusmart">

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/bundar"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".tahuproject.ViewHeaderNota"></activity>
        <activity android:name=".tahuproject.MainMenu" />
        <activity android:name=".tahuproject.ListBarang" />
        <activity android:name=".tahuproject.AddHeader" />
        <activity
            android:name=".UI.DeleteOrEdit"
            android:parentActivityName=".UI.CatatPembelian" />
        <activity android:name=".UI.QRBarcode" />
        <activity
            android:name=".UI.PopUp"
            android:parentActivityName=".UI.CatatPembelian" />
        <activity android:name=".Model.ControlLogin" />
        <activity
            android:name=".UI.LihatLaporan"
            android:parentActivityName=".UI.HomeDashboard" />
        <activity
            android:name=".UI.CatatPembelian"
            android:parentActivityName=".UI.HomeDashboard" />
        <activity android:name=".UI.HomeDashboard" />
        <activity android:name=".UI.Login" />
        <activity android:name=".tahuproject.OrderRecord" />
        <activity android:name=".UI.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>